<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weapes.ntpaprseng.crawler.mapper.LogMapper">

    <insert id="saveCrawlDetailLog">
        INSERT INTO CrawlDetailLog(url,articlePosition,totalNumber,isSuccessful,crawlTime)
         VALUES(#{url},#{articlePosition},#{totalNumber},#{isSuccessful},#{crawlTime})
    </insert>
    <insert id="saveCrawlTotalLog">
        INSERT INTO CrawlTotalLog(times,crawlTime, successfulNumber, failedNumber, totalNumber, averageTime)
        VALUES(#{times},#{crawlTime},#{successfulNumber},#{failedNumber},#{totalNumber},#{averageTime})
    </insert>
    <insert id="saveUpdateDetailLog">
        INSERT INTO UpdateDetailLog(url, articlePosition, totalNumber, isSuccessful, updateTime)
        VALUES(#{url},#{articlePosition},#{totalNumber},#{isSuccessful},#{updateTime})
    </insert>
    <insert id="saveUpdateTotalLog">
        INSERT INTO UpdateTotalLog(times, updateTime, successfulNumber, failedNumber, totalNumber, averageTime)
        VALUES(#{times},#{updateTime},#{successfulNumber},#{failedNumber},#{totalNumber},#{averageTime})
    </insert>
 </mapper>