<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weapes.ntpaprseng.crawler.mapper.PaperMapper">

    <insert id="savePaper">
        INSERT INTO Paper(url, title, authors, sourceTitle, issn, eissn, doi,
        volume, issue, pageBegin, pageEnd, affiliation, publishTime, crawlTime)
         VALUES(#{url},#{title},#{authors},#{sourceTitle},#{issn},#{eissn},
         #{doi},#{volume},#{issue},#{pageBegin},#{pageEnd},#{affiliation},
         #{publishTime},#{crawlTime}) ON DUPLICATE KEY UPDATE
        url=#{url},title=#{title},authors=#{authors},sourceTitle=#{sourceTitle},
        issn=#{issn},eissn=#{eissn},doi=#{doi},volume=#{volume},issue=#{issue},
        pageBegin=#{pageBegin},pageEnd=#{pageEnd},affiliation=#{affiliation},
        publishTime=#{publishTime},crawlTime=#{crawlTime}
    </insert>
    <insert id="saveMetricsPaper">
        INSERT INTO PaperMetrics(url, updateTime, pageViews, webOfScience, crossRef,
         scopus, newsOutlets, reddit, blog, tweets, facebook, google, pinterest,
          wikipedia, mendeley, citeUlink, zotero, f1000, video, linkedin, q_a, finalIndex)
        VALUES(#{url},#{updateTime},#{pageViews},#{webOfScience},#{crossRef},#{scopus},
        #{newsOutlets},#{reddit},#{blog},#{tweets},#{facebook},#{google},#{pinterest},
        #{wikipedia},#{mendeley},#{citeUlink},#{zotero},#{f1000},#{video},#{linkedin},
        #{q_a},#{finalIndex})
    </insert>
    <select id="getPaperTitleByUrl" resultType="java.lang.String">
        SELECT title FROM Paper WHERE url=#{url};
    </select>
    <select id="saveTopPaperInfo">
        INSERT INTO Top(url, title) VALUES (#{url},#{title});
    </select>
    <delete id="clearTopPapers">
        DELETE FROM Top;
    </delete>
</mapper>